@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: Botanika-Web;
  font-weight: bold;
  src: url("../../static/fonts/botanika-mono-bold.otf") format("opentype");
}

@font-face {
  font-family: Botanika-Web;
  font-weight: medium;
  src: url("../../static/fonts/botanika-mono-medium.otf") format("opentype");
}

@font-face {
  font-family: Botanika-Web;
  font-weight: regular;
  src: url("../../static/fonts/botanika-mono-regular.otf") format("opentype");
}

html,
body {
  min-height: 100%;
  background-color: white;
}

.mainPageCircle {
  animation-delay: 4000ms;
}

.mainPageContent {
  animation-delay: 1000ms;
}
